.key {
  flex: 1;
  padding: 5px;
  color: $main-text;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 100%;
  background-color: $glitch;
  box-shadow: 0 0 5px 0 $glitch;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &-square {
    @include size(40px);
  }

  &-special {
    @include size(auto, 40px);
    background-color: $keyboard;
  }

  &-arrow {
    @include size(auto, 40px);
    background-color: $keyboard;
  }

  &__inner {
    @include flex(center, center, column);
    gap: 5px;

    button {
      padding: 0;
      width: 100%;
      font-size: 0.7rem;
    }
  }

  &:hover {
    background-color: $main-grey;
    transition: all 0.3s ease-in-out;
  }
}

.tab {
  padding: 5px 10px;
}

.del {
  padding: 5px 10px;
}

.capslock {
  font-size: 0.8rem;
}

.enter {
  padding: 5px 15px;
}

.shift-1 {
  padding: 5px 25px;
}

.shift-2 {
  padding: 5px 30px;
}

.space {
  padding: 5px 147px;
}

.active {
  background-color: $main-grey;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.main {
  display: inline;
}

.second {
  display: none;
}