$body-color: #000;
$main-text: #fff;
$main-grey: #282828;
$border: #0C0032;
$glitch: #3500D3;
$keyboard-background: #190061;
$keyboard: #240090;

$font: "Georgia", "Times New Roman", serif;
$font-title: 'Koulen', cursive;