@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.eot');
  src: local('Georgia'),
      url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Georgia.woff2') format('woff2'),
      url('../fonts/Georgia.woff') format('woff'),
      url('../fonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Koulen';
  src: url('../fonts/Koulen.eot');
  src: local('Koulen'),
      url('../fonts/Koulen.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Koulen.woff2') format('woff2'),
      url('../fonts/Koulen.woff') format('woff'),
      url('../fonts/Koulen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}